.root {
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: #e930d4;
  background: linear-gradient(130deg, #f150df 0%, #4226a4 100%);
  overflow: hidden;
  position: relative;
}

.woman {
  display: flex;
  z-index: 2;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 8rem);
  background-image: url("../../assets/img/woman.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.circle {
  position: absolute;
  bottom: -80px;
  right: -20px;
  z-index: 1;
  aspect-ratio: 1;
  height: 90%;
  width: auto;
}
.circle2 {
  position: absolute;
  bottom: -100px;
  left: 100px;
  z-index: 1;
}
.circle3 {
  position: absolute;
  bottom: 60vh;
  right: -105px;
  z-index: 9;
}
@media (max-width: 1700px){
  .root div h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .woman {
    background-size: contain;
  }

  .circle {
    height: 80%;
  }
}
@media (max-width: 1200px) {
  .woman {
    background-size: contain;
  }

  .circle {
    height: 80%;
  }
}

@media (max-width: 992px) {
  .root {
    height: auto;
  }

  .woman {
    height: auto;
    background-size: cover;
    background-position: center;
  }

  .circle {
    height: 70%;
  }

  .circle2 {
    left: 50px;
    bottom: -80px;
  }

  .circle3 {
    bottom: 50vh;
    right: -80px;
  }
}

@media (max-width: 768px) {
  .root div h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .root div h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .woman {
    align-items: center;
    background-size: contain;
    background-position: right;
    height: 100vh;
    align-items: self-start;
  }

  .circle {
    height: auto;
    width: 420px;
  }

  .circle2 {
    left: 20px;
    bottom: -60px;
    width: 80px;
  }

  .circle3 {
    bottom: 40vh;
    right: -60px;
    width: 80px;
  }
}

@media (max-width: 576px) {
  .woman {
    background-size: contain;
    background-position-x: right;
    height: 105vh;
    width: 115%;
  }

  .woman div h1{
    width: 50%;
    padding-bottom: 20px;
  }

  .circle {
    display: none;
  }

  .circle2 {
    left: 10px;
    bottom: -50px;
    width: 70px;
  }

  .circle3 {
    bottom: 30vh;
    right: -50px;
    width: 70px;
  }
}

@media (max-width: 380px) {

  .root div h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 340px) {
  .woman {
    width: 145%;
  }
}