.background {
  background: rgb(236, 236, 236);
  width: 100%;
  min-height: calc(100vh - 8rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4rem;
}

.background h3 {
  color: #b10d9e;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

.background input,
.background select {
  background-color: rgb(255, 255, 255);
}

.inputContainer > div {
  flex: 1;
  min-width: 280px;
}

.main button {
  width: 350px;
}

.toastWithOptions {
  width: 450px;
}

.toastOptions {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 0 8px;
}
.toastOptions > span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(84, 123, 185);
  height: 32px;
  width: fit-content;
  padding: 0 16px;
  border-radius: 16px;
  color: white;
  cursor: pointer;
}

@media (max-width: 450px) {
  .background {
    padding: 1rem;
  }

  .background > div {
    padding-top: 2rem;
    width: 90%;
  }

  .main button {
    width: 100%;
  }
}

@media (max-width: 340px) {
  .background {
    padding: 0;
  }
}


