.background {
  background: rgb(236, 236, 236);
  width: 100%;
  min-height: calc(100vh - 8rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4rem;
}

.background h3 {
  color: #b10d9e;
  font-size: 20px;
  font-weight: 900;
}

.background input {
  background-color: rgb(255, 255, 255);
}

.inputContainer > div {
  flex: 1;
  min-width: 350px;
}

.main button {
  width: 350px;
}
